<!DOCTYPE html>
<html>
<title>Enter page</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">

<style>
body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
    min-height: 100%;
    background-position: center;
    background-size: cover;
}
</style>

<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
  <div class="w3-display-middle">
    <h1 class="w3-jumbo w3-animate-top">Ramsay's Response:</h1>
    <hr class="w3-border-grey" style="margin:auto;width:40%">
    <p class="w3-large w3-center">THIS IS WHERE WE PUT IN THE TWEEEEET</p>
</div>

<body style="background-color:#AA0000;">
	<img src="ramsayFace.jpg">

	<!-- MAYBE MAKE A BUTTON TO RETURN TO HOMEPAGE SO WE DON'T HAVE TO RUN THE SCRIPT AGAIN? THE COMMENNTED CODE BELOW IS AN EXAMPLE (THE BUTTON WE USED TO UPLOAD AN IMAGE ON THE HOMEPAGE). WE'D HAVE TO FIGURE OUT HOW TO LINK IT BACK TO THE HOMEPAGE INSTEAD OF UPLOADING. -->
<!--   <form action="upload_photo" method="POST" enctype="multipart/form-data">
    Upload File: <input type="file" name="file"><br>
    <input type="submit" name="submit" value="Submit">
  </form> -->
</body>
</html>